html{
  font-family: Verdana, sans-serif;
  scroll-behavior:smooth;
}

h1{
  text-align: center;
} 

body{
  max-width: 90%;
  margin: 0 !important;
  float: none !important;
}


p{
  text-align: justify;
  text-justify: inter-word;
}

.banner{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
